/*===================================
    FONTS
===================================*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,700|Noto+Serif+JP:400,700');

.section-heading {
    font-family: "Noto Serif JP", "Georgia", serif;
    font-weight: 700;
}

p,
.btn,
h3 {
    font-family: "Noto Sans JP", "Helvetica Neue", "Arial", sans-serif;
}

p {
    line-height: 2.25;
}

.btn {
    border: 1px solid;
    transition: 300ms all ease-in-out;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn:hover {
    transform: scale(1.05);
}

.btn-white {
    border-color: #fff;
    color: #fff;
}

.btn-white:hover {
    background-color: #fff;
    color: rgba(161, 120, 114, 1);
}

.btn-mauve {
    color: rgba(161, 120, 114, 1);
    border-color: rgba(161, 120, 114, 1);
}

.btn-mauve:hover {
    background-color: rgba(161, 120, 114, 1);
    color: #fff;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}


/*===================================
    NAVIGATION
===================================*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: rgba( 255, 255, 255, 1) !important;
    z-index: 100;
}

.navbar-brand {
    font-weight: 700;
}

.navbar a {
    font-family: "Noto Serif JP", "Georgia", Serif;
}

.navbar-toggler {
    border: none;
    opacity: .7;
    transition: 250ms opacity ease;
}

.navbar-toggler:hover {
    opacity: 1;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-text {
    font-family: 'Noto Serif JP', 'Georgia', serif;
    color: #111;
    opacity: .8;
    transition: 250ms opacity ease;
}

.navbar-text:hover {
    opacity: 1;
}

/*===================================
    JUMBOTRON
===================================*/

.jumbotron {
    min-height: 100vh;
    margin-bottom: 0;
    background: url('../img/lake.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 50px;
    background-color: rgba(161,120,114,1);
    position: absolute;
    bottom: -25px;
    transform: skewY(-2deg);
}

/*===================================
    SAVE THE DATE
===================================*/
.save-the-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    position: relative;
    background: rgba(161,120,114,1);
    color: #fff;
}

.save-the-date i {
    color: #FFF;
    font-size: 2.5em;
}

.save-the-date p {
    font-family: "Noto Sans JP", "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: .9rem;
    /* color: rgba(161,120,114,1); */
}

.save-the-date .section-heading {
    margin: 20px 0 30px;
    font-size: 1.5rem;
}

/*===================================
    CEREMONY
===================================*/

#ceremony {
    text-align: center;
    color: #333;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 10px;
}

.content p {
    margin: 1.5rem 0;
    width: 80%;
}

/*===================================
    RECEPTION
===================================*/

#reception {
    text-align: center;
    color: #333;
}

#reception .row {
    display: flex;
    flex-direction: column;
}

.photo {
    width: 100%;
    height: 100%;
}


/*===================================
    ACCOMMODATIONS
===================================*/

#accommodations {
    padding-top: 70px;
    padding-bottom: 70px;
    background: linear-gradient(rgba(90, 90, 90, .7), rgba(90, 90, 90, .8)),
                url('../img/capitol.jpg') no-repeat center;
    background-size: cover;
    color: #fff;
}

#accommodations .row {
    margin: 0 auto;
    max-width: 800px;
}

#accommodations h3 {
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-weight: 700;
}

.hotel-info {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hotel-info a:first-child {
    margin-right: 20px;
}


/*===================================
    REGISTRY
===================================*/

#registry {
    padding: 70px 15px;
    background: #fff;
}

#registry .row {
    margin: 0 auto;
    max-width: 1000px;
}

#registry .row .col-md-4 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registry-logo {
    margin: 15px auto;
    max-width: 200px;
}

/*===================================
    FOOTER
===================================*/

footer {
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
    background: #444;
    color: #fff;
}

footer p {
    margin-bottom: 0;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*===================================
    MEDIA QUERIES
===================================*/

@media screen and (min-width: 768px) {

    .save-the-date .section-heading {
        font-size: 2em;
    }

    #reception .row {
        flex-direction: row-reverse;
    }

    #registy .col-md-4 {
        text-align: center;
    }
}
